<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1bab3346-e093-44ca-8e2f-8043b25824ae/resourceGroups/NorthEurope/providers/Microsoft.ContainerRegistry/registries/gdcompany</ResourceId>
    <ResourceName>gdcompany</ResourceName>
    <ResourceGroup>NorthEurope</ResourceGroup>
    <Subscription>Подписка с оплатой по мере использования</Subscription>
    <RegistryUrl>https://gdcompany.azurecr.io</RegistryUrl>
    <UserName>gdcompany</UserName>
    <PublishImageTag>
    </PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b915f023-7226-43c2-8acf-c01faf1f4c0b</ProjectGuid>
    <TargetFramework>netcoreapp2.2</TargetFramework>
  </PropertyGroup>
</Project>