<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>gdcompany</UserName>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1bab3346-e093-44ca-8e2f-8043b25824ae/resourceGroups/NorthEurope/providers/Microsoft.ContainerRegistry/registries/gdcompany</ResourceId>
    <ResourceName>gdcompany</ResourceName>
    <ResourceGroup>NorthEurope</ResourceGroup>
    <Subscription>Подписка с оплатой по мере использования</Subscription>
    <RegistryUrl>https://gdcompany.azurecr.io</RegistryUrl>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>