<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location path="Admin" xdt:Transform="Replace" xdt:Locator="Match(path)">
	<system.web>
		<pages validateRequest="false" />
	</system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false"/>
          <basicAuthentication enabled="true"/>
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="planet_admin" />
        </authorization>
        <ipSecurity allowUnlisted="false">
          <add ipAddress="192.168.88.0" allowed="true" subnetMask="255.255.255.0"/>
          <add ipAddress="46.252.241.206" allowed="true"/>
          <add ipAddress="148.251.51.150" allowed="true"/>
		  <add ipAddress="91.219.64.213" allowed="true" />
		  <add ipAddress="87.249.40.190" allowed="true" /> <!-- Spb office mayakovskaya -->
		  <add ipAddress="185.233.95.216" allowed="true" /> <!-- Spb office gostynka -->
          <add ipAddress="127.0.0.1" allowed="true"/>
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
  <location path="CM" xdt:Transform="Replace" xdt:Locator="Match(path)">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false"/>
          <basicAuthentication enabled="true"/>
        </authentication>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="planet_cm" />
          <add accessType="Allow" users="planet_admin" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="Service" xdt:Transform="Replace" xdt:Locator="Match(path)">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true"/>
        </authentication>
        <authorization>
        </authorization>
        <ipSecurity allowUnlisted="false">
          <add ipAddress="127.0.0.1" allowed="true"/>
        </ipSecurity>
      </security>
    </system.webServer>
  </location>
</configuration>